.article {
  position: relative;
  padding-bottom: 3rem;

  &__progress {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--scroll);
    height: 3px;
    background: $color-grey-light;
    z-index: 10;
    transition: opacity 1s $timing-normal;

    &--hidden {
      opacity: 0;
    }
  }

  .header {
    position: relative;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(#000, .2), rgba(#000, .8));
      z-index: -1;
    }

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: -2;
    }

    &__text {
      color: $color-white;
      max-width: calc(100vw - 40px);
      @include bigger-than(500px) {
        max-width: calc(100vw - 60px);
      }
      width: 800px;
      text-align: center;
      margin: auto 0 2.5rem;
      @include bigger-than(500px) {
        margin-bottom: 3.5rem;
      }

      h1 {
        font-size: 3rem;
        margin: 1.5em 0 1rem;
        color: inherit;
      }

      p {
        margin-bottom: .5rem;

        &:first-of-type {
          margin-top: 2rem;
          @include bigger-than(500px) {
            margin-top: 3rem;
          }
        }
      }
    }

    &__tag {
      @extend %no-select;
      font-size: .8em;
      font-weight: 400;
      background: rgba(#fff, .15);
      padding: .2em 1em;
      margin: 0 .25em .5em;
      border-radius: 100px;
      text-decoration: none;
      color: $color-grey-lightest;
      transition: background-color $duration-normal $timing-normal;

      &:hover {
        background: rgba(#fff, .25);
        cursor: pointer;
      }
    }

    &__tags {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 500px;
      margin: 0 auto;
    }
  }

  section {
    padding: 40px 20px;
    @include bigger-than(500px) {
      padding: 60px 40px;
    }

    .content {
      max-width: 1000px;
      margin: 0 auto;
    }

    .text,
    .markdown {
      > :not(blockquote) {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }

      ol,
      ul {
        margin-bottom: 1em;

        ol,
        ul {
          margin-bottom: .5em;
        }
      }

      code {
        padding: .2em .3em;
        margin: 0 .2em;
        border-radius: .2em;
        background: $color-grey-lightest;
        font-size: .85em;
      }
    }
  }

  ul {
    padding-left: 2.5em;
    list-style-type: disc;

    ul {
      list-style-type: circle;

      ul {
        list-style-type: square;
      }
    }
  }

  ol {
    padding-left: 1.25em;
    counter-reset: item;

    ol {
      padding-left: 2em;
    }

    li {
      display: block;
    }

    li:before {
      content: counters(item, ".") ".";
      counter-increment: item;
      padding-right: .5em;
    }
  }

  blockquote {
    position: relative;
    font-family: $font-headline;
    font-style: italic;
    color: lighten($color-text, 7%);
    line-height: 2em;
    margin: 1.5em 0;
    padding: 1em;
    border-left: .2em solid lighten($color-text, 7%);
    background-color: $color-grey-lightest;
  }

  a {
    color: $color-blue;

    &:hover {
      color: darken($color-blue, 7%);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    @include bigger-than(500px) {
      padding: 0 40px;
    }
  }
}

.restart {
  display: flex;
  align-items: center;
  color: $color-grey-medium;
  font-size: .85em;
  cursor: pointer;

  &:hover {
    color: $color-grey-dark;

    .restart__icon {
      fill: $color-grey-dark;
      border-color: $color-grey-dark;
    }
  }

  &__icon {
    width: 1.5em;
    height: 1.5em;
    transform: rotate(90deg);
    margin-right: .75em;
    fill: $color-grey-medium;
    border: 1px solid $color-grey-medium;
    padding: .15em;
    border-radius: 1em;
  }

  &__icon,
  &__text {
    transition: all $duration-normal $timing-normal;
  }

  &__text {
    text-transform: uppercase;
    letter-spacing: .15em;
  }
}