@import "../variables";

.cards {
  @extend %container;
  padding-top: 10px;
  padding-bottom: 10px;
  @include bigger-than(500px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  display: grid;
  grid-template-columns: 1fr;
  @include bigger-than(640px) {
    grid-template-columns: 1fr 1fr;
  }
  @include bigger-than(960px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include bigger-than(1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
  grid-gap: 16px;
}

.card {
  $line-height: 1.5em;
  $max-lines: 4;
  display: flex;
  flex-direction: column;
  background: $color-white;
  border-radius: .5em;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  transition: all $duration-fast $timing-normal;
  @include bigger-than(640px) {
    box-shadow: 0 0 0 1px $color-grey-light;
  }

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  }

  &__image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem 1rem;
  }

  &__title {
    font-size: 1.25rem;
    margin: 1rem 0;
  }

  &__tags {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  &__tag {
    @extend %no-select;
    @extend %chip;
    margin: 0 .5rem .25rem 0;
    background: $color-grey-lightest;

    &:hover {
      background: darken($color-grey-lightest, 7%);
    }

    &:active {
      background: darken($color-grey-lightest, 14%);
    }
  }

  &__teaser {
    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: $max-lines;
      -webkit-box-orient: vertical;
      line-height: $line-height;
      max-height: #{$max-lines * $line-height};
    }
  }

  &--no-image {
    .card__teaser p {
      -webkit-line-clamp: #{2 * $max-lines};
      max-height: #{2 * $max-lines * $line-height};
    }
  }

  &__actions {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
    font-size: .8em;
  }

  &__action {
    @extend %no-select;
    margin-left: 1rem;
    color: $color-blue;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 700;
    padding: .5rem 1rem;
    border-radius: .5em;
    background: transparent;
    transition: background-color $duration-fast $timing-normal;

    &:hover {
      background: darken($color-white, 7%);
    }

    &:active {
      background: darken($color-white, 14%);
    }
  }
}

.nav--open + .main .cards {
  @include between(800px, 940px) {
    grid-template-columns: 1fr;
  }
  @include between(940px, 1180px) {
    grid-template-columns: 1fr 1fr;
  }
  @include between(1180px, 1580px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}