pre[class*="language-"] {
  text-shadow: none;
  border-radius: 0;
  padding: 1em 3.5em 1em 1em;
  margin: 1em 0;

  code {
    text-shadow: inherit;
  }
}

pre[class*="language-scss"],
pre[class*="language-html"],
pre[class*="language-js"],
pre[class*="language-php"] {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 3.5em;

  &:before {
    position: absolute;
    color: $color-white;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em 1em;
  }
}

.article .code-toolbar .toolbar {
  top: 3.5em;
  right: 1em;
  transition: none;
  opacity: 1;

  .toolbar-item {
    display: block;
    width: 1.5em;
    height: 1.5em;

    &:hover a {
      opacity: .5;
    }
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/assets/img/static/icons/file-copy.svg) center / cover;
    box-shadow: none;
    opacity: .2;
    transition: opacity $duration-normal $timing-normal;
  }
}

.article .code-toolbar pre[class*="language-other"] + .toolbar {
  top: 1rem;
}