.menu {
  display: flex;
  flex-direction: column;
  font-size: .85em;

  &__section {
    padding: 1em;

    &:not(:first-child) {
      border-top: 1px solid $color-grey-lightest;
    }
  }

  &__caption {
    display: flex;
    align-items: center;
    letter-spacing: .15em;
    text-transform: uppercase;
    color: $color-grey-medium;
    padding: 0 1em;
  }

  &__items {
    padding: .5em 0;
    list-style-type: none;
  }

  &__item {
    margin: .25em 0;
    color: $color-text;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: .5em 1em;
    border-radius: 5px;

    &:hover {
      background: $color-grey-lightest;
    }

    &:active {
      background: $color-grey-light;
    }
  }

  &__link-text {
    margin-right: 1em;
  }

  &__count {
    @extend %chip;
    margin-left: auto;
    background: lighten($color-grey-medium, 7%);
    color: $color-white;
  }
}