.nav {
  position: fixed;
  display: block;
  top: 0;
  border-bottom: 1px solid $color-grey-light;
  height: $navbar-height;
  width: 100%;
  background: $color-white;
  color: $color-grey-dark;
  z-index: 10;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-white;
    opacity: 0;
    display: none;
  }

  &--hidden:before {
    transition: opacity .1s linear .15s;
    opacity: 1;
  }

  img {
    height: 35px;
    width: auto;
  }

  &__inner {
    @extend %center-v;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-grey-dark;
  }

  &__title {
    @extend %center-v;
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 2.5rem;
    white-space: nowrap;
    user-select: none;
  }

  &__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: $navbar-height;
    left: 0;
    min-height: 100vh;
    width: $menu-width;
    background: $color-white;
    border-right: 1px solid $color-grey-light;
    will-change: transform;
    transition: transform $duration-fast $timing-normal;
    transform: translateX(-100%);
  }

  &--open {
    & .nav__menu {
      transform: none;
    }

    & + .main {
      @include bigger-than(800px) {
        margin-left: $menu-width;
      }
    }
  }

  &__toggle {
    @extend %center-v;
    justify-content: center;
    width: 3.5rem;
    margin-right: 1rem;
    transition: background-color $duration-fast $timing-normal;
    cursor: pointer;

    &:hover {
      background: $color-grey-lightest;
    }

    &:active {
      background: darken($color-grey-lightest, 7%);
    }
  }
}