.search {
  $button-width: 3.5rem;
  $field-breakpoint: 700px;

  @extend %center-v;
  position: absolute;
  @include smaller-than($field-breakpoint) {
    left: calc(100% - #{$button-width});
    right: 0;
  }
  @include bigger-than($field-breakpoint) {
    position: relative;
  }
  transition: left $duration-normal ease, right $duration-normal ease;
  min-width: $button-width;
  z-index: 11;

  &__bar {
    @extend %center-v;
    background: $color-white;
    position: relative;
    width: 100%;
  }

  &__field {
    color: $color-grey-dark;
    background: $color-white;
    border: none;
    padding: .5rem $button-width .5rem 0;
    width: 0;
    outline: none;
    font-size: .85em;
    height: 100%;
    transition: width $duration-fast ease, background $duration-fast $timing-normal;
    cursor: pointer;

    @include bigger-than($field-breakpoint) {
      width: 300px;
      height: unset;
      padding: .5rem 1rem .5rem 2.5rem;
      box-shadow: inset 0 0 0 1px $color-grey-light;
      border-radius: 5rem;
      cursor: text;
    }

    &:not(:focus):hover {
      @include smaller-than(700px) {
        background: $color-grey-lightest;
      }
    }

    &:focus {
      height: unset;
      box-shadow: inset 0 0 0 1px $color-blue;
      padding: .5rem 1rem .5rem 2.5rem;
      border-radius: 5rem;
      cursor: text;
      @include smaller-than($field-breakpoint) {
        width: 100%;
      }
    }

    &:focus + .search__icon {
      $icon-size-active: 1.25rem;
      fill: $color-blue;
      left: .75rem;
      height: $icon-size-active;
      width: $icon-size-active;
    }
  }

  &--focused {
    padding: 0 $padding-small;
    @include bigger-than(500px) {
      padding: 0 $padding-medium;
    }
    left: 0;
    @include bigger-than($field-breakpoint) {
      padding: 0;
    }
  }

  &__icon {
    --icon-size: 1.5rem;
    @include bigger-than($field-breakpoint) {
      --icon-size: 1.25rem;
    }
    position: absolute;
    left: calc((#{$button-width} - var(--icon-size)) / 2);
    @include bigger-than($field-breakpoint) {
      left: .75rem;
    }
    height: var(--icon-size);
    width: var(--icon-size);
    fill: $color-grey-medium;
    pointer-events: none;
  }

  &__results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    @include smaller-than(800px) {
      width: calc(var(--vw) - #{$padding-medium * 2});
    }
    @include smaller-than(500px) {
      width: calc(var(--vw) - #{$padding-small * 2});
    }
    background: $color-white;
  }

  &__result {
    display: block;
  }
}