{% extends "_layouts/_layout.twig" %}

{% set imageTransforms = {
    width: 800,
    quality: 70
} %}

{% block content %}
    <main class="home main">
        {% set cards = craft.entries.section('articles').all() %}
        {% if cards|length > 0 %}
            <div class="cards">
                {% for card in cards %}
                    {% set hasImage = card.titleImage|length > 0 ? true : false %}
                    <div class="card{% if not hasImage %} card--no-image{% endif %}">
                        {% if hasImage %}
                            {% set titleImage = card.titleImage.one() %}
                            <img class="card__image" src="{{ titleImage.getUrl(imageTransforms) }}" alt="{{ titleImage.title }}"
                                 width="{{ titleImage.getWidth(imageTransforms) }}"
                                 height="{{ titleImage.getHeight(imageTransforms) }}">
                        {% endif %}
                        <div class="card__content">
                            <h1 class="card__title">{{ card.title }}</h1>
                            {% if card.tags|length > 0 %}
                                <div class="card__tags">
                                    {% for tag in card.tags.all() %}
                                        <a href="{{ tag.url }}" class="card__tag">{{ tag.title }}</a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if card.teaser %}
                                <div class="card__teaser">
                                    {{ card.teaser }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="card__actions">
                            <a class="card__action" href="{{ card.url }}" title="{{ card.title }} öffnen">Mehr</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>
{% endblock %}