%no-select {
  user-select: none;
}

%container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-left: $padding-small;
  padding-right: $padding-small;
  @include bigger-than(500px) {
    padding-left: $padding-medium;
    padding-right: $padding-medium;
  }
}

%center-v {
  display: flex;
  align-items: center;
  height: 100%;
}

%chip {
  transition: background-color $duration-fast $timing-normal;
  color: $color-grey-medium;
  font-size: .8em;
  padding: .1em .75em;
  border-radius: 100px;
  text-decoration: none;
}