* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font: 400 16px/22px $font-text;
  color: $color-text;
  @include bigger-than(500px) {
    font-size: 18px;
    line-height: 24px;
  }
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  margin-top: $navbar-height;
  will-change: margin-left;
  transition: margin-left $duration-fast $timing-normal;
}

section {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  line-height: 1.5em;
}

p {
  margin-top: .5em;
  margin-bottom: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-headline;
  margin-top: 1.5em;
  margin-bottom: .5em;
}

h1,
h2,
h5,
h6 {
  font-weight: 700;
}

h3,
h4 {
  font-weight: 400;
}

h1,
h2 {
  font-family: $font-headline;
  line-height: 1.25em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: .5em;
}

a {
  text-decoration: none;
  color: inherit;
}