@mixin bigger-than($breakpoint) {
  @media (min-width: #{$breakpoint + 1px}) {
    @content;
  }
}

@mixin smaller-than($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin between($from, $to) {
  @media (min-width: #{$from + 1px}) and (max-width: $to) {
    @content;
  }
}