// COLORS
$color-white: #fff;
$color-grey-lightest: #eee;
$color-grey-light: #ddd;
$color-grey-medium: #999;
$color-grey-dark: #333;
$color-headline: #222;
$color-text: #444;

$color-blue: dodgerblue;

// ANIMATION
$duration-normal: .4s;
$duration-fast: .25s;
$timing-normal: ease-in-out;

// FONTS
$font-text: 'Lato', sans-serif;
$font-headline: 'Merriweather', sans-serif;

// MEASUREMENTS
$navbar-height: 60px;
$padding-small: 10px;
$padding-medium: 20px;
$menu-width: 300px;