{% extends "/_layouts/_layout.twig" %}

{% set randomColor = random(['blueviolet','cadetblue', 'coral', 'cornflowerblue', 'darkcyan', 'darkred', 'darkseagreen',
    'darkslateblue', 'darkslategrey', 'deeppink', 'goldenrod', 'indianred','olivedrab', 'peru', 'rosybrown', 'royalblue']) %}
{% set containsCode = 0 %}
{% set titleImageTransforms = {
    width: 2000,
    quality: 80
} %}

{% block content %}
    {% set iconsUrl = craft.assets.filename('icons.svg').one().url %}
    <main class="article main">
        <div class="article__progress article__progress--hidden"></div>
        <header class="header">
            {% if entry.titleImage|length == 1 %}
                {% set titleImage = entry.titleImage.one() %}
                <img src="{{ titleImage.getUrl(titleImageTransforms) }}" alt="{{ titleImage.title }}"
                     width="{{ titleImage.getWidth(titleImageTransforms) }}" height="{{ titleImage.getHeight(titleImageTransforms) }}">
            {% else %}
                {% css %}
                    .article .header:before {
                        background: {{ randomColor }};
                    }
                {% endcss %}
            {% endif %}
            <div class="header__text">
                <h1>{{ entry.title }}</h1>
                {% if entry.tags|length > 0 %}
                <div class="header__tags">
                    {% for tag in entry.tags.all() %}
                        <a href="{{ tag.url }}" class="header__tag">{{ tag.title }}</a>
                    {% endfor %}
                </div>
                {% endif %}
                {{ entry.teaser }}
            </div>
        </header>
        <section>
            <div class="content">
                {% for block in entry.articleContent.all() %}
                    {% switch block.type %}
                        {% case 'text' %}
                            <div class="text">{{ block.text }}</div>
                        {% case 'markdown' %}
                            <div class="markdown">{{ block.text|markdown }}</div>
                        {% case 'code' %}
                            {% set containsCode = loop.index %}
                            <pre id="code-{{ loop.index }}"><code class="language-{{ block.codeLanguage }}">{{ block.code }}</code></pre>
                            {% css %}pre[class*="language-"]:before{background:{{ randomColor }};}{% endcss %}
                            {% if block.codeLanguage != 'other' %}
                                {% css %}#code-{{ loop.index }}:before { content: '{{ block.codeLanguage.label }}'; }{% endcss %}
                            {% endif %}
                    {% endswitch %}
                {% endfor %}
            </div>
        </section>
        <div class="article__actions">
            <div class="restart">
                <svg class="restart__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <use href="{{ iconsUrl }}#arrow"></use>
                </svg>
                <span class="restart__text">{{ article.restartText }}</span>
            </div>
        </div>
    </main>
    {% if containsCode > 0 %}
        {% do view.registerCssFile("/assets/lib/prism/prism.css") %}
        {% do view.registerJsFile("/assets/lib/prism/prism.js") %}
    {% endif %}
{% endblock %}

{% do view.registerJsFile("/assets/js/pages/article.js") %}
