<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{{ entry.title }} | {{ navbar.pageTitle }}{% endblock %}</title>
</head>
<body>
    {% block navigation %}<nav class="nav">{{ block('nav', '_blocks/_nav.twig') }}</nav>{% endblock %}
    {% block content %}{% endblock %}
</body>
</html>

{% do view.registerCssFile("/assets/css/main.css") %}
{% do view.registerJsFile("/assets/js/main.js") %}