{% block nav %}
    {% set iconsUrl = craft.assets.filename('icons.svg').one().url %}
    <div class="nav__inner">
        <div class="nav__toggle">
            <svg class="nav__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <use href="{{ iconsUrl }}#menu"></use>
            </svg>
        </div>
        <a class="nav__title" href="/" title="{{ navbar.pageTitle }}">
            {% if navbar.pageLogo|length > 0 %}
                {% set logo = navbar.pageLogo.one() %}
                <img src="{{ logo.url }}" alt="{{ logo.title }}" width="{{ logo.width }}" height="{{ logo.height }}">
            {% else %}
                <span>{{ navbar.pageTitle }}</span>
            {% endif %}
        </a>
        <div class="search">
            <div class="search__bar">
                <input class="search__field" type="text" id="searchField" placeholder="{{ navbar.searchPlaceholder }}" autocomplete="off">
                <svg class="search__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <use href="{{ iconsUrl }}#search"></use>
                </svg>
            </div>
            <ul class="search__results"></ul>
        </div>
    </div>
    <div class="nav__menu menu">
            {# TODO insert items from backend here #}
        <div class="menu__section">
            <div class="menu__caption">
                <span>Häufigste Tags</span>
            </div>
            {% set categories = [] %}
            {% for category in craft.categories().group('blogTags').all() %}
                {% set entryCount = craft.entries.relatedTo(category).all()|length %}
                {% set categories = categories|merge([{
                    'title': category.title,
                    'url': category.url,
                    'entryCount': entryCount
                }]) %}
            {% endfor %}
            <ul class="menu__items">
                {% for category in categories %}
                    <li class="menu__item">
                        <a class="menu__link" href="{{ category.url }}">
                            <span class="menu__link-text">{{ category.title }}</span>
                            <span class="menu__count">{{ category.entryCount }}</span>
                        </a>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% do view.registerJsFile("/assets/js/search.js") %}
{% endblock %}